<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HOTELINTRO.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C88AFC046441968B772F4EC362D6B6BBEC3A65F9</string>
				<key>dateExpires</key>
				<string>2018/11/10</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C88AFC046441968B772F4EC362D6B6BBEC3A65F9</string>
						<key>dateExpires</key>
						<string>2018/11/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WW46SSNLR</string>
						<key>name</key>
						<string>haocai wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C88AFC046441968B772F4EC362D6B6BBEC3A65F9</string>
						<key>dateExpires</key>
						<string>2018/11/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WW46SSNLR</string>
						<key>name</key>
						<string>haocai wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C88AFC046441968B772F4EC362D6B6BBEC3A65F9</string>
						<key>dateExpires</key>
						<string>2018/11/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WW46SSNLR</string>
						<key>name</key>
						<string>haocai wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C88AFC046441968B772F4EC362D6B6BBEC3A65F9</string>
						<key>dateExpires</key>
						<string>2018/11/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WW46SSNLR</string>
						<key>name</key>
						<string>haocai wang</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C88AFC046441968B772F4EC362D6B6BBEC3A65F9</string>
						<key>dateExpires</key>
						<string>2018/11/10</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6WW46SSNLR</string>
						<key>name</key>
						<string>haocai wang</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6WW46SSNLR.com.entertainment.jinxia</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>6WW46SSNLR</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>6WW46SSNLR.com.entertainment.jinxia</string>
				</array>
			</dict>
			<key>name</key>
			<string>HOTELINTRO.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ea4bcad7-c5e4-4fdc-84be-53e179f28608</string>
				<key>name</key>
				<string>comEntertainmentJinxia</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6WW46SSNLR</string>
				<key>name</key>
				<string>haocai wang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
